/* === TAILWIND === */

@import "tailwindcss";

/* === RESET === */

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Debug uniquement, à retirer en prod */
/* * {
  box-shadow: 0 0 0 3px red inset;
} */

/* === ROOT VARIABLES === */

:root {
  /* Colors */
  --background: #fff5e9;
  --foreground: #381a0f;
  --color-chocolate: #381a0f;
  --color-caramel: #9a6f46;
  --color-chocolate-active: #2f150c;

  /* Fonts */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-domine: var(--font-domine);

  /* Font Sizes */
  --fs-12: 0.75rem;
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-40: 2.5rem;
  --fs-42: 2.625rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;

  /* Sizes */
  --logo-size-desktop: 180px;
  --logo-size-tablet: 154px;
  --logo-size-mobile: 144px;

  /* Borders */
  --border-width: 2px;
  --border-style: solid;
  --border-color: var(--color-caramel);

  /* Transition */
  --transition-base: 0.3s ease-out;

  /* Embla Carousel */
  --text-body: rgb(54, 49, 61);
  --detail-high-contrast: rgb(192, 192, 192);
  --detail-medium-contrast: var(--color-caramel);
  --text-high-contrast-rgb-value: 49, 49, 49;
}

/* === DARK MODE SUPPORT (optional) === */

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #f1f1f1;
    --foreground: #9a6f46;
  }
}
*/

/* === LAYOUT GLOBAL === */

html,
body {
  min-height: 100%;
  /* height: 100%; */
}

body {
  background: white;
  color: var(--foreground);
  font-family: var(--font-domine);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  /* background: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url("/images/background-body.jpg") center/cover no-repeat;
  background-attachment: fixed; */
}

/* Background image with overlay */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  background:
    linear-gradient(rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.45)),
    url("/images/background-body.jpg") center/cover no-repeat;
}

/* === MAIN === */

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 122px;
  /* background-color: white; */
}

/* Responsive main */
@media (max-width: 850px) {
  main {
    margin: 0 40px;
  }
}
@media (max-width: 690px) {
  main {
    margin: 0 20px;
  }
}

@media (max-width: 500px) {
  main {
    margin: 0 10px;
  }
}

/* === SECTIONS === */

section {
  width: 100%;
}

section:not(.hero) {
  max-width: 980px;
}

/* === ARTICLES === */
article {
  height: 100%;
}

/* === HEADINGS === */

h2 {
  font-size: var(--fs-24);
  color: var(--color-chocolate);
  font-weight: bold;
  margin-bottom: 14px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

h3 {
  font-size: var(--fs-20);
  color: var(--color-chocolate);
  font-weight: bold;
  margin-bottom: 10px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

/* === PARAGRAPHS === */

p {
  font-size: var(--fs-16);
  line-height: 1.6;
  /* color: var(--color-caramel); */
}

/* === BUTTONS === */

/* Base */
.btn {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 0.4rem 1.6rem;
  font-size: clamp(0.4rem, 2.5vw, 1rem);
  transition: background 0.3s;
}

/* Primary */
.btn-primary {
  background-color: var(--color-caramel);
  color: white;
  border: 1px solid white;
}

.btn-primary:hover {
  background-color: var(--color-chocolate);
}

/* Secondary */
.btn-secondary {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  white-space: nowrap;
}

.btn-secondary:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* === UTILITIES === */

/* Separator */
.vector-image {
  margin: 72px auto;
}

.vector-after-hero {
  margin-top: 0 !important;
}

/* Responsive separator */
@media (max-width: 850px) {
  .vector-image {
    margin: 48px auto;
  }
}

@media (max-width: 690px) {
  .vector-image {
    margin: 32px auto;
  }
}

@media (max-width: 590px) {
  .vector-image {
    margin: 24px auto;
  }
}

/* Bordered Elements */
.bordered {
  border: var(--border-width) var(--border-style) var(--border-color);
  padding: 10px;
  height: 100%;
  width: 100%;
}

*:focus {
  outline: none;
}
:focus-visible {
  outline: 3px solid var(--color-chocolate);
}

/* === TOAST DOUBLE BORDURE === */
.double-bordered-toast {
  position: relative;
  border: 2px solid var(--color-caramel);
  padding: 10px;
}

.double-bordered-toast::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border: 2px solid var(--color-caramel);
  z-index: -1;
}
