/* === MAIN CARD CONTAINER === */
.card {
  display: flex;
  margin: 72px auto;
  padding: 0 34px;
  height: 314px;
  max-width: 800px;
}

/* === IMAGE SECTION === */
.image-wrapper {
  position: relative;
  width: 70%;
}

.image-card-info {
  object-fit: cover;
  box-shadow: 2px 4px 20px -2px rgba(0, 0, 0, 0.5);
}

/* === CONTENT SECTION === */
.card-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  text-align: left;
}

.card-content h2 {
  flex: 1;
  font-size: var(--fs-24);
  color: var(--color-chocolate);
  font-weight: bold;
  align-content: center;
  padding-left: 20px;
}

.card-content p {
  flex: 2;
  color: var(--color-caramel);
  background-color: #fff;
  border-top-right-radius: 124px;
  border-bottom-right-radius: 124px;
  display: flex;
  align-items: center;
  padding-inline: 20px;
}

/* === REVERSED CARD === */

/* === MAIN CARD CONTAINER === */
.card-reverse {
  flex-direction: row-reverse;
}

/* === CONTENT SECTION === */
.card-content-reverse {
  text-align: right;
}

.card-content-reverse h2 {
  padding-right: 20px;
  padding-left: 0;
}

.card-content-reverse p {
  justify-content: flex-end;
  border-top-left-radius: 124px;
  border-bottom-left-radius: 124px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* ============================== */
/* === RESPONSIVE CARDS === */
/* ============================== */

/* ↓ TABLETTE — max 850px */
@media (max-width: 850px) {
}

/* ↓ MOBILE — max 690px */
@media (max-width: 690px) {
}

/* ↓ TRÈS PETIT ÉCRAN — max 500px */
@media (max-width: 500px) {
}
