/* .navbar {
  @apply flex justify-center items-center gap-[80px] px-[244px] py-[20px] bg-[var(--background)];
} */

.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 25px;
  background: var(--background);
  box-shadow: inset 0px -2px 0px var(--color-caramel);
}

.nav-icon {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 0 40px;
}

.logo-desktop {
  display: flex;
}

.logo-mobile {
  display: none;
}

.nav-icon img {
  width: 100px;
}

.hamburger {
  display: none;
}

.navlinks-container {
  display: flex;
  align-items: center;
}

.navlinks-container a {
  margin: 0 40px;
  font-size: var(--fs-16);
  font-weight: bold;
  color: var(--color-caramel);
  display: inline-block;
  position: relative;
}

.navlinks-container a:hover {
  color: var(--color-chocolate);
  transition: color 0.3s ease-out;
}

.navlinks-container a:not(.nav-icon)::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -4px;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: left;
  background: var(--color-chocolate);
  transition: transform 0.3s ease-out;
}

.navlinks-container a:hover::after {
  transform: scaleX(1);
}

.navlinks-container a.active {
  color: var(--color-chocolate);
}

.navlinks-container a.active::after {
  transform: scaleX(1);
}

@media (max-width: 850px) {
  .navlinks-container a {
    margin: 0 20px;
  }
}

@media (max-width: 690px) {
  .navbar {
    padding: 15px 20px;
    position: relative;
    justify-content: start;
  }

  .nav-icon {
    order: 2;
    margin: 0 auto;
  }

  .logo-desktop {
    display: none !important;
  }

  .logo-mobile {
    display: flex;
    justify-content: center;
  }

  .nav-icon img {
    width: 74px;
  }

  /* Hamburger */
  .hamburger {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    display: flex;
    background: var(--background);
    align-items: center;
    position: relative;
  }

  .hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background: var(--color-chocolate);
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s 0.15s ease-out;
  }

  .hamburger span:nth-child(1),
  .hamburger span:nth-child(3) {
    transition: transform 0.3s ease-out;
  }

  .hamburger span:nth-child(1) {
    transform: translateY(7px);
  }

  .hamburger span:nth-child(3) {
    transform: translateY(-7px);
  }

  .hamburger.open span:nth-child(1) {
    transform: translateY(0) rotate(135deg);
  }

  .hamburger.open span:nth-child(2) {
    opacity: 0;
    transition: opacity 0s ease-out;
  }

  .hamburger.open span:nth-child(3) {
    transform: translateY(0) rotate(-135deg);
  }

  .navlinks-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background: var(--background);
    top: 100%;
    left: 0;
    height: 100vh;
    padding: 15px 50px 15px 20px;
    border-right: 2px solid var(--color-caramel);
    transform: translate(-100%);
    transition: transform 0.3s ease-out;
  }

  .open {
    transform: translate(0%);
  }

  .navlinks-container a {
    font-size: var(--fs-18);
    margin: 10px 0;
  }
}

@media (max-width: 500px) {
  .nav-icon img {
    width: 64px;
  }
}
