/* === CONTACT CTA SECTION === */

/* Layout */
.contact-cta-section {
  width: 100%;
  height: 248px;
  /* background-color: var(--background); */
  gap: 30px;
  border-radius: 124px;
  transition: box-shadow 0.3s ease-in-out;
}

.contact-cta-section:hover {
  box-shadow: 2px 4px 20px -2px #00000080;
}

.contact-cta-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  border-radius: 124px;
  transition: box-shadow 0.3s ease-in-out 0.2s;
  background-color: var(--background);
}

.contact-cta-content:hover {
  box-shadow: 2px 4px 20px -2px #00000080;
}

/* Responsive Design */
@media (max-width: 690px) {
  .contact-cta-section {
    height: auto;
  }

  .contact-cta-content {
    gap: 10px;
    padding: 44px;
  }

  .contact-cta-content h2 {
    font-size: var(--fs-20);
  }
}

@media (max-width: 590px) {
  .contact-cta-section {
    border-radius: 0;
  }

  .contact-cta-content {
    border-radius: 0;
  }
}
