.services-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.services-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  /* background-color: var(--background); */
  gap: 20px;
  margin: 0 20px;
}

/* .service-image {
  position: relative;
  width: 100%;
  max-width: 640px;
  height: auto;
} */

.service-image1 {
  transform: rotate(90deg) translateY(0);
  width: 150px;
}
.service-image2 {
  transform: rotate(90deg) translateY(0) translateX(-50%);
  width: 150px;
}

.services-container {
  /* background-color: white; */
  max-width: 600px;
  z-index: 1;
}

.services-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--background);
  padding: 30px 40px;
  gap: 30px;
}

@media (max-width: 500px) {
  .services-content {
    padding: 20px 10px;
    gap: 20px;
  }
}

.services-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
  gap: 10px;
}

.services-logo {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
}

.services-logo-image {
  min-width: 40px;
  min-height: 40px;
}

.services-title {
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: center;
}

.right {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

.services-content p {
  margin-bottom: 30px;
}

.delivery-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 20px;
}

.delivery-row {
  display: flex;
  border-bottom: 1px dotted var(--color-chocolate);
  padding: 4px 10px;
  width: 100%;
}

.delivery-size {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.delivery-price {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--color-chocolate);
}
