.step-objet-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step-objet-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  background-color: var(--background);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

/* .radio-input {
  accent-color: var(--color-caramel);
  background-color: var(--color-chocolate);
  width: 18px;
  height: 18px;
} */

.select-input {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid var(--color-chocolate);
  font-size: 1rem;
}
