/* === HERO SECTION === */

.hero {
  position: relative;
  width: 100vw;
  height: 65vh;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-bottom: 72px;
}

/* Responsive Heights */
@media (max-width: 850px) {
  .hero {
    height: 50vh;
    margin-bottom: 48px;
  }
}
@media (max-width: 690px) {
  .hero {
    margin-bottom: 32px;
  }
}
@media (max-width: 590px) {
  .hero {
    margin-bottom: 24px;
  }
}

/* === HERO CONTENT (Text + Buttons) === */

.hero-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  color: white;
}

/* === TITLE === */

.hero-title {
  font-size: clamp(1.4rem, 4vw, 3rem);
  margin-bottom: 1.5rem;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

/* Responsive Title */
@media (max-width: 500px) {
  .hero-title {
    margin-bottom: 0;
  }
}

/* === BUTTONS CONTAINER === */

.hero-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.4rem;
}
