/* === MAIN CARD CONTAINER === */
.card {
  display: flex;
  margin: 0 auto;
  padding: 0 34px;
  height: 314px;
  max-width: 980px;
  width: 100%;
}

/* Responsive Card */
@media (max-width: 590px) {
  .card {
    flex-direction: column-reverse;
    padding: 0;
    height: auto;
  }
}

/* === IMAGE SECTION === */
.image-wrapper {
  position: relative;
  width: 70%;
  height: 100%;
}

.image-card-info {
  object-fit: cover;
  box-shadow: 2px 4px 20px -2px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

/* Responsive Image */
@media (max-width: 590px) {
  .image-wrapper {
    width: 100%;
    height: 200px;
  }

  .image-card-info {
    position: relative !important;
  }
}

/* === CONTENT SECTION === */
.card-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  text-align: left;
}

.card-content h2 {
  flex: 1;
  align-content: center;
  padding-left: 20px;
}

.card-content p {
  flex: 2;
  background-color: #fff;
  border-top-right-radius: 124px;
  border-bottom-right-radius: 124px;
  display: flex;
  align-items: center;
  padding-inline: 20px;
  border: 2px solid #9a6f46;
  border-left: none;
}

/* Responsive Content */
@media (max-width: 590px) {
  .card-content {
    width: 100%;
  }

  .card-content h2 {
    padding-left: 0;
  }

  .card-content p {
    padding: 20px 74px 20px 10px;
    border-bottom-right-radius: 0;
    border-left: 2px solid #9a6f46;
    border-bottom: none;
  }
}

/* === REVERSED CARD === */

/* === MAIN CARD CONTAINER === */
.card-reverse {
  flex-direction: row-reverse;
}

/* === CONTENT SECTION === */
.card-content-reverse {
  text-align: right;
}

.card-content-reverse h2 {
  padding-right: 20px;
  padding-left: 0;
}

.card-content-reverse p {
  justify-content: flex-end;
  border-top-left-radius: 124px;
  border-bottom-left-radius: 124px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 2px solid #9a6f46;
  border-right: none;
}
