.display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: white;
  overflow: hidden;
}

@media (max-width: 690px) {
  .display-container {
    height: 450px;
  }
}

/* .display-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  padding: 0;
} */

.cake-image-swiper {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  background: var(--background);
  /* background: linear-gradient(
    0deg,
    rgba(56, 26, 15, 1) 0%,
    rgba(154, 111, 70, 1) 28%,
    rgba(154, 111, 70, 1) 100%
  ); */
}

/* Overriding Swiper pagination bullets to match Embla dots style */
.cake-image-swiper :global(.swiper-pagination-bullet) {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  appearance: none;
  background-color: transparent !important;
  touch-action: manipulation;
  display: inline-flex;
  /* text-decoration: none; */
  /* cursor: pointer; */
  /* border: 0; */
  /* padding: 0; */
  margin: 0 !important;
  width: 1.6rem;
  height: 1.6rem;
  /* align-items: center; */
  /* justify-content: center; */
  /* border-radius: 50%; */
  /* position: relative; */
  opacity: 1;
}

.cake-image-swiper :global(.swiper-pagination-bullet::after) {
  content: "";
  box-shadow: inset 0 0 0 0.1rem var(--color-caramel);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: block;
  background: transparent;
  margin: auto;
}

.cake-image-swiper :global(.swiper-pagination-bullet-active::after) {
  box-shadow: inset 0 0 0 0.18rem var(--color-caramel),
    0 0 5px var(--color-caramel);
  background: var(--background);
}

.swiper-slide {
  display: flex;
  height: 100%;
  /* align-items: center; */
  justify-content: center;
}

.cake-image-slide {
  object-fit: contain;
}

.cake-thumb-swiper {
  width: 100%;
  height: auto;
}

.thumb-slide {
  display: flex;
  justify-content: center;
  padding: 0;
  border: 2px solid var(--color-caramel);

  background: var(--background);
  opacity: 0.6;
}

.cake-thumb-swiper :global(.swiper-slide-thumb-active) {
  background: var(--background);
  border: 2px solid var(--color-caramel);
  opacity: 1;
  transition: border 0.2s ease-in-out, background 0.2s ease-in-out;
}
