.cake-details-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  background-color: var(--background);
  gap: 20px;
  /* transition: all 2s ease; */
}

/* Responsive: stack in column on smaller screens */
@media (max-width: 690px) {
  .cake-details-section {
    grid-template-columns: 1fr;
  }
}

.display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--background);
}

.display-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--background);
}
