/* === CAKE DETAILS SECTION === */

.cake-details-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 550px;
}

/* Responsive cake details section */
@media (max-width: 690px) {
  .cake-details-section {
    grid-template-columns: 1fr;
    height: auto;
  }
}
