.cake-details-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 550px;
}

/* Responsive: stack in column on smaller screens */
@media (max-width: 690px) {
  .cake-details-section {
    grid-template-columns: 1fr;
    height: auto;
  }
}
