.form-contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 500px;
}

.form-contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
  gap: 40px;
  min-height: 500px;
}

.form-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  gap: 20px;
}

.form-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  padding: 10px;
  box-shadow: 0 0 0 2px var(--color-caramel);
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.form-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.form-input {
  width: 100%;
  padding: 10px;
  box-shadow: 0 0 0 2px var(--color-caramel);
  color: var(--color-chocolate);
}

.sous-total-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 20px;
  width: 100%;
  border-top: 2px dashed var(--color-caramel);
  border-bottom: 2px dashed var(--color-caramel);
  padding-top: 10px;
  padding-bottom: 10px;
}

.sous-total-container h3 {
  margin: 0;
}

.sous-total {
  width: fit-content;
  white-space: nowrap;
  padding: 10px;
  box-shadow: 0 0 0 2px var(--color-caramel);
  color: var(--color-chocolate);
  display: flex;
  justify-content: center;
  align-items: center;
}
